@model PostModel

@{
    var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

<!DOCTYPE html>
<html lang="@culture" dir="ltr">
<head>
    <partial name="~/Views/Themes/custom/Shared/_Header.cshtml" />
</head>
<body>
    <style>
        .post {
            overflow: hidden;
            font-size: 18px;
            line-height: 1.56;
            font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
        }

            .post img {
                max-width: 100%;
            }

        .section-heading {
            font-size: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            font-weight: 500;
        }



        .comments-middleware-view-all-comments {
            margin: 20px 0 0;
        }

        #comments-middleware-view {
            margin-top: 20px;
        }

            #comments-middleware-view .post-comment {
                font-size: 15px;
            }

                #comments-middleware-view .post-comment .post-comment-from {
                    margin: 0 20px 0px 20px;
                }

                #comments-middleware-view .post-comment .comments-footer {
                    margin: 0 20px 0 20px;
                }

                #comments-middleware-view .post-comment #comments-middleware-view-all-comments {
                    margin: 0 20px 0 20px;
                }

                #comments-middleware-view .post-comment .comment-text {
                    padding-top: 1.25rem;
                }

            #comments-middleware-view textarea {
                resize: vertical !important;
                min-height: 120px;
                width: 100%;
                font-family: sans-serif;
                border-radius: 4px;
                font-size: 16px;
                border: solid 1px lightgray;
                margin: 4px;
                background: lightgray;
            }

            #comments-middleware-view input {
                border-radius: 4px;
                border: solid 1px lightgray;
                margin: 4px;
                font-size: 20px;
                width: 100%;
                background: lightgray;
            }

            #comments-middleware-view h4 {
                padding: 1.25rem;
            }

            #comments-middleware-view .comment-description {
            }

                #comments-middleware-view .comment-description input {
                    width: auto;
                }

            #comments-middleware-view button {
                width: 90px;
                border-radius: 4px;
                border: solid 1px gray;
                padding: 8px;
                background: lightgray;
            }

                #comments-middleware-view button:hover {
                    background-color: aliceblue;
                }

            #comments-middleware-view div.post-comment a.post-comment-toggle {
                margin: 0px 20px 0px 20px;
                position: absolute;
                right: 0px;
            }

            #comments-middleware-view div.comment-preview {
                border: solid gray 1px;
                margin: 5px 0px 5px 5px;
                padding: 5px;
            }

            #comments-middleware-view .floatClear {
                clear: both;
            }

        .comment-middleware-single-comment-avatar {
            float: left;
        }

        .comment-middleware-single-comment-poster-name {
            float: left;
            margin-left: 5px;
            font-weight: 600;
        }

        .comment-middleware-single-comment-time {
            float: right;
            opacity: 0.75;
            margin-right: 5px;
            margin-top: 5px;
        }

        span.comments-middleware-mod {
            border: solid gray 1px;
            border-radius: 4px;
            color: gray;
            padding: 0 4px;
        }

        .comments-middlweare-unapproved-comment {
            opacity: 0.5;
        }

        .comments-middleware-warning {
            color: #cc2222;
        }

        pre.prettyprint {
            width: 100%;
        }

        code .prettyprint, pre.prettyprint {
            background-color: #232323;
        }
    </style>
    <partial name="~/Views/Themes/custom/Shared/_Navbar.cshtml" />
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9">
                <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
                    <!--
                       <h1 class="my-4">
                        @Model.Blog.Title
                        <small>@Model.Blog.Description</small>
                    </h1>
                       -->
                    <div class="card mb-4">
                        @*<img class="card-img-top" src="@Model.Blog.Cover" alt="Card image cap">*@
                        <div class="card-body post">
                            <header>
                                <h1 class="my-5" itemprop="headline">@Model.Post.Title</h1>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    @foreach (var cat in Model.Post.GetCategories()) {
                                        <a href="~/@Model.Post.Lang/categories/@cat.LinkName" title="@cat.Title">@cat.Title</a><span>,</span>
                                    }
                                </h6>
                            </header>
                            <div itemprop="articleBody">
                                @Html.Raw(Model.Post.Content)
                            </div>
                        </div>
                        <footer class="card-footer text-muted">
                            <a href="~/authors/@Model.Post.Author.AppUserName">@Model.Post.Author.DisplayName</a>
                            <time datetime="@Model.Post.Published.ToString("yyyy-MM-dd")" itemprop="datePublished">
                                @Model.Post.Published.ToString("M"), @Model.Post.Published.Year
                            </time>
                        </footer>
                        <div id="comments-middleware"></div>
                    </div>
                </article>
            </div>
            <div class="col-md-3">
                @if (Model.Blog.TopWidgetHtml != null) {
                @Html.Raw(Model.Blog.TopWidgetHtml)
                }
                <partial name="~/Views/Themes/custom/Shared/_Sidebar.cshtml" />
            </div>

        </div>
    </div>

    <script src="/comments-middleware/loader.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>


    <partial name="~/Views/Themes/custom/Shared/_Footer.cshtml" />
    <partial name="~/Views/Themes/custom/Shared/_i18nLocalization.cshtml" />

    <script>
        (function () {
            function waitCommentsBlock() {
                if ($('#comments-middleware-view').length == 0) {
                    window.requestAnimationFrame(waitCommentsBlock);
                } else {
                    $('#comments-middleware-view').i18n();
                }
            };

            $.i18n().load(
                {
                    "ru": '/i18n/comments-ru.json',
                    "en": '/i18n/comments-en.json',
                }
            ).done(function () {
                $('html').i18n();
                waitCommentsBlock();
            });
        })();
    </script>

</body>
</html>
