@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Simple/Shared/_Header.cshtml" />
</head>
<body>
    <style>
        .post {
            overflow: hidden;
            font-size: 18px;
            line-height: 1.56;
            font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
        }

            .post img {
                max-width: 100%;
            }

        .section-heading {
            font-size: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            font-weight: 500;
        }
    </style>
    <partial name="~/Views/Themes/Simple/Shared/_Navbar.cshtml" />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!--
                    <h1 class="my-4">
                     @Model.Blog.Title
                     <small>@Model.Blog.Description</small>
                 </h1>
                    -->
                <div class="card mb-4">
                    <img class="card-img-top" src="@Model.Blog.Cover" alt="Card image cap">
                    <div class="card-body post">
                        <h1 class="my-4">@Model.Post.Title</h1>
                        @Html.Raw(Model.Post.Content)
                    </div>
                    <div class="card-footer text-muted">
                        <a href="~/authors/@Model.Post.Author.AppUserName">@Model.Post.Author.DisplayName</a>
                        @Model.Post.Published.ToString("M"), @Model.Post.Published.Year
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <partial name="~/Views/Themes/Simple/Shared/_Sidebar.cshtml" />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
    <partial name="~/Views/Themes/Simple/Shared/_Footer.cshtml" />

</body>
</html>